@* This tells the view what type of data its receiving *@

@model IEnumerable<VideoRecorder.Camera.Camera>



@* Tool bar and corresponding buttons *@
<div style="display:flex;">

    <div style="width:160px; 
        min-width:160px; 
        background:#0d1117; 
        border-right:1px solid #330860; 
        padding:16px 12px; 
        display:flex; 
        flex-direction:column; 
        gap:8px;">
        
        <p style="font-size:22px; 
            color:#6e7a9a; 
            text-transform:uppercase; 
            letter-spacing:.07em;
            padding-bottom:10px;
            border-bottom:1px solid #1e2550;
            margin:0;">Cameras</p>
        
        <a asp-action="Create"
           class="btn btn-sm btn-ffx"
           style="background:#1e2550; 
                  border:1px solid #330860; 
                  color:#fafafa;
                  display:flex; 
                  align-items:center; 
                  gap:8px;"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Tooltip on top">
           <i class="bi bi-plus-circle-fill fs-3"></i>
           Add Cam Config
        </a>
        
        <a
            class="btn btn-sm btn-ffx"
            style="background:#1e2550; 
                   border:1px solid #330860; 
                   color:#fafafa;
                   display:flex; 
                   align-items:center; 
                   gap:8px;"
            data-bs-toggle="modal"
            data-bs-target="#discoverModal">
            <i class="bi bi-broadcast fs-3"></i>
            Discover Cameras
        </a>
        
        <a
            class="btn btn-sm btn-ffx"
            style="background:#1e2550; 
                   border:1px solid #330860; 
                   color:#fafafa;
                   display:flex; 
                   align-items:center; 
                   gap:8px;"
            data-bs-toggle="modal"
            data-bs-target="#discoverModalOnvif">
            <i class="bi bi-camera-reels"></i>
            Discover ONVIF
        </a>

    </div>
    
    <!-- Hidden form for camera delete 
    We cannot POST without this
    We give the form a name so JS can find it.
    we send POST request, run action.
    "id" matches argument for RemoveCamera(int id) -->
                
    <form id="confirmForm" method="post" asp-action="RemoveCamera">
        @Html.AntiForgeryToken()
        <input type="hidden" id="cameraIdInput" name="id" value=""/>
    </form>
    
    @* TabLe to display all the cameras *@
    <table class= "table table-striped table-dark table-hover">
        <thead class="table-dark">
        <tr>
            <th style="width:150px;">Name</th>
            <th style="width:150px;">Description</th>
            <th style="width:150px;">RTSP URL</th>
            <th style="width:150px;">Enabled</th>
            <th style="width:150px;">Live</th>
            <th style="width:150px;">Edit</th>
            <th style="width:150px;">Delete</th>
        </tr>
        </thead>
        
        
        
        
        <tbody>
        @************************************************************************* 
        loop through every camera and display in a row 
        add a button next to each entry 
        *************************************************************************@
        @foreach (var camera in Model)
        {
            <tr>
                <input type="hidden" name="Id" value="@camera.Id" />
                <td>@camera.Name</td>
                <td>@camera.Description</td>
                <td>@camera.RtspUrl</td>
                <td>@(camera.IsEnabled ? "Yes" : "No")</td>

                <td>

                    <a asp-action="OpenRtspSession"
                       asp-route-id="@camera.Id"
                       class="btn btn-sm btn-ffx"
                       style="background:#1e2550; 
                       border:1px solid #330860; 
                       color:#fafafa;"
                       button type="button" 
                       data-toggle="tooltip"
                       data-placement="top"
                       title="View camera stream live">Live View</a>
                </td>
                <td>
                    <a asp-action="EditCamera"
                       asp-route-id="@camera.Id"
                       class="btn btn-sm btn-ffx"
                       style="background:#1e2550; 
                       border:1px solid #330860; 
                       color:#fafafa;"
                       button type="button" 
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Edit device">Edit Camera</a>
                </td>
                
                

                <td>
                    <a onclick="confirmRemove('@camera.Id')"
                       class="btn btn-sm btn-ffx"
                       style="background:#1e2550; 
                       border:1px solid #330860; 
                       color:#fafafa;"
                       button type="button" 
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Delete device">Delete Camera</a>
                </td>

            </tr>
        }
        </tbody>
    </table>
    
    
    @* this is the part of the window where it should place the discovered devices *@
    <div class="modal fade" id="discoverModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title">Discovered Cameras</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" id="discoverResults">
                    Scanning...please wait.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    
    @* ONVIF devices discovery Modal *@
    <div class="modal fade" id="discoverModalOnvif" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title">Discovered Cameras</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" id="onvifResults">
                    Scanning...please wait.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    @*************************************************************************
                            javascript
    *************************************************************************@
    
    
    @* 
    Javascript for the modal 
    find modal by id, listen for bootstrap shown.bs.modal event
    make request to Discover action
    convert response into JSON data from OnvifDiscovery
    if not empty, loop through each device
    *@
    <script>
        document.getElementById('discoverModal').addEventListener('shown.bs.modal',
        
        async function () {
            
            const response = await fetch('/Camera/UdpDiscover/'); 
            const devices = await response.json();
            let html = '';
            
            if (devices.length === 0) {
                html = '<p> No devices found.</p>';
            }
            
            for (let i = 0; i < devices.length; i++) {
                html += '<p>' + devices[i] + '</p>';
            }
            document.getElementById('discoverResults').innerHTML = html;
        });
    </script>
    
    
    
    <script>
        document.getElementById('discoverModalOnvif').addEventListener('shown.bs.modal',
        
        async function () {
            
            const response = await fetch('/Camera/Discover/'); 
            const devices = await response.json();
            let html = '';
            
            if (devices.length === 0) {
                html = '<p> No devices found.</p>';
            }
            
            for (let i = 0; i < devices.length; i++) {
                html += '<p>' + devices[i] + '</p>';
            }
            document.getElementById('onvifResults').innerHTML = html;
        });
    </script>
    
    @*
    This fugly Javascript function removes cams. Takes the cam id and
    name as paramaters passed in from the button click. open
    sweetalert. if YES is clicked -> set the hidden input value 
    to the camera id right before sending. then submit the form.
    *@
    <script>
        function confirmRemove(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: `Remove Camera?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                background: '#1a1a2e',
                color: '#ffffff',
                confirmButtonColor: '#0d6efd'
            }).then((result) => {
                if (result.isConfirmed) {
                    cameraIdInput.value = id;
                    document.getElementById("confirmForm").submit();
                }
            });
        }
        
        
        
        
        
    </script>
    
   

</div>
